{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style_for_show_ad.css' %}" />
    <title>Short URL</title>
    <script>
        var interval;
        var i;
        var orig_url;
        var imagesArray;
        var paragraphToWrite;
        function printSeconds() {
            paragraphToWrite.empty();
            paragraphToWrite.append('The ad will be closed in ' + i + ' seconds');
            i -= 1;
            $image = $('#image');
            switch(true) {
                case (i >= 15 && i <= 20):
                    $image.attr("src", imagesArray[0]);
                    break;
                case (i < 15 && i >=10):
                    $image.attr("src", imagesArray[1]);
                    break;
                case (i < 10 && i >= 5):
                    $image.attr("src", imagesArray[2]);
                    break;
                case (i < 5 && i >= 0):
                    $image.attr("src", imagesArray[3]);
                    break;
                default:
                    clearInterval(interval);
                    window.location.replace(orig_url);

            }
        }

        function get_cookie ( cookie_name )
        {
           var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
           if ( results )
             return (results[2]);
           else
             return null;
        }

        $(window).load(function() {
            orig_url = get_cookie('orig_url').slice(1, -1);
            i = get_cookie('time');
            paragraphToWrite = $('#show_time');
            imagesArray = {{ images|safe }};
            interval = setInterval(printSeconds, 1000);
        });
    </script>
</head>
<body>
    <p id="show_time"></p>
    <image id = "image" src="" alt=""/>
</body>
</html>